*{
    box-sizing: border-box;
}
body{
margin: 0;
height: 100vh;
width: 100vw;
overflow: hidden;
font-family: "Lato", sans-serif;
font-weight: 700;
display: flex;
align-items: center;
justify-content: center;
color:#555;
background-color: #ecf0f3;
}
.login-div {
    width: 430px;
    height: 700px;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    background-color: #ecf0f3;
   box-shadow: 13px 13px 20px #cbced1,
   -13px -13px 20px #fff;

}
.title{
text-align: center;
font-size: 15px;
padding-top: 24px;
letter-spacing: 0.5px;
}
.sub-title{
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 0.5px;
}
.feilds{
width: 100%;
padding: 75px 5px 5px 5px;

}
.feilds input{
border:none;
outline:none;
background: none;
font-size: 18px;
color:#555;
padding: 20px 10px 20px 5px;
}
.username,
.password{
    margin-bottom: 30px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.feilds svg{
height: 22px;
margin:0 10px -3px 25px
}
.signin-button{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #02c8db;
    box-shadow: 3px 3px 8px #b1b1b1,
    -3px -3px 8px;
    transition: all 0.5s;
}
.signin-button:hover{
    background-color: #50e5b9;
}
.signin-button:active{
    background-color: #88ef9e;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section{
    padding: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #f1d1bc;
}
header{
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header.logo{
position: relative;
top:0;
color: #000;
font-size: 30px;
text-decoration: none;
text-transform: uppercase;
font-weight: 800;
letter-spacing: 1px;
}
header.navigation a{
    color:#000;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 20px;
    transition: 0.3s;
}
header .navigation a:not(:last-child){
    margin-right: 30px;
}
header .navigation a:hover{
    background:#d8bca9;
}
.content{
    max-width: 650px;
    margin: 60px 100px;
}
.content .info h2{
    color:#DEB887;
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}
.content .info p{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
}
label{
    display: none;
}
#check{
z-index:3;
display: none;
}
/* Responsive Styles */
@media(max-width:960px){
header.navigation{
    display: none;
}
label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: o.3s;
    transition-property: color;
}
label{
    color:#fff;
}
label.close-btn{
    display: none;
}
#check:checked ~ header .navigation{
z-index: 2;
position: fixed;
background: #f1d1bc;
top:0;
bottom: 0;
left: 0;
right: 0;
display:flex ;
flex-direction: column;
justify-content: center;
align-items:center ;
}
#check:checked ~ header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
}
#check:checked ~ header label .menu-btn{
    display: none;
}
#check:checked ~ header label .close-btn{
    z-index: 2;
    display: block;
    position: fixed;
}
label .menu-btn{
    position: absolute;
}
header.ems{
    position:absolute;
    bottom: -6px;
}
.content .info h2{
    font-size: 45px;
    font-weight: 600;
}
.content .info p{
    font-size: 14px;
}
}
* {    
    box-sizing: border-box;    
  }    
  input[type=text], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;    
  }    
  input[type=empid], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;    
  }    
  label {    
    padding: 12px 12px 12px 0;    
    display: inline-block;    
  }    
  input[type=submit] {    
   background-color: #0066A2;  
    color: white;    
    padding: 12px 20px;    
    border: none;    
    border-radius: 4px;    
    cursor: pointer;    
    float: right;    
  }    
  input[type=submit]:hover {    
    background-color: #45a049;    
  }    
  .container {    
    border-radius: 5px;    
    background-color: #f2f2f2;    
    padding: 20px;    
  }    
  .col-25 {    
    float: left;    
    width: 25%;    
    margin-top: 6px;    
  }    
  .col-75 {    
    float: left;    
    width: 75%;    
    margin-top: 6px;    
  }    
  /* Clear floats after the columns */    
  .row:after {    
    content: "";    
    display: table;    
    clear: both;    
  }

  .error{
    text-align:center;
    font-weight: bold;
    font-size:medium;
    color: crimson;
  }

  .user-input{
    outline: none;
  }

  h4{
    text-align:center;
    font-weight: bold;
    font-size:medium;
    color:#45a049;
  }
